* {
    margin: 0;
    padding: 0;
}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    
}

.container {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: blueviolet;
    border-radius: 20px;
}

.child1, .child2 {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: azure;
    margin: 10px;
    border-radius: 20px;
}

.container-side {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 500px;
    height: 500px;
    background-color: blueviolet;
    border-radius: 20px;
}

.child3, .child4 {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: azure;
    margin: 10px;
    border-radius: 20px;
}