main {
    
    margin-top: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 1.5em;


}

#mySubmit {

    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}