body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
}

h1 {
    color: blueviolet;
}

form {
    background-color: blanchedalmond;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(103, 103, 103, 0.304);

}

#textBox {
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid rgba(43, 43, 43, 0.338);
    border-radius: 4px;
    margin-bottom: 15px;
}

label {
     font-size: 1.4em;
}

button {
    margin-top: 15px;
    background-color: blue;
    color: aliceblue;
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 0, 173);
}

#result {
    font-size: 1.1em;
}