#countLabel {

    display: block;
    text-align: center;
    font-size: 10em;
    font-family: 'Courier New', Courier, monospace;
}

#btContainer {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.buttons {
    padding: 10px;
    font-size: 1.5em;
    color: aliceblue;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover {
    background-color: rgb(74, 22, 122);
}